<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
	</head>
	<body>

        <div data-role="view" data-title="Projects" id="side-projects">
            <ul data-role="listview" data-style="inset" data-template="filesTemplate">
            </ul>
        </div>
        
        <script id="filesTemplate" type="text/x-kendo-template">
            <a class="navitem" href="\#side-inbox?ProjectID=#: MeasID#">#: Filename #</a>
        </script>

	</body>
</html>